<MyViewName>
    <a href="" ng-click="
       DivHideShow(null,null,'BMRBPRSampleCtlr','BMRBPRMasterCtlr', this);
       DivHideShow(null,null,'BMRSampleCtlr',null, this);
       DivHideShow(null,null,'BPRSampleCtlr',null, this);
                ">Batch Record</a>
    <MyViewName child="true"> BMR BPR Sample(s)</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Batch No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        Mfg
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Batch Size
                    </th>
                </tr>
                <tr>
                    <td>
                        {{MasterObject.BatchNo}}
                    </td>
                    <td>
                        {{MasterObject.DocDate}}
                    </td>
                    <td>
                        {{MasterObject.BatchMfgDate}}
                    </td>
                    <td>
                        {{MasterObject.BatchExpiryDate}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td>
                        {{MasterObject.BatchSize}}-{{MasterObject.BatchSizeUnit}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#BMRSample">
                <span class="fa fa-flask" style="font-size:large; color:steelblue;"></span>
                BMR Sample(s)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#BPRSample">
                <span class="fa fa-boxes" style="font-size:large; color:steelblue;"></span>
                BPR Process(s)
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="BMRSample" ng-controller="BMRSampleCtlr" class="container tab-pane active" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            <div id="BMRSampleCtlr" style="display: none;">
                @await Html.PartialAsync("BMRBPRSample_Tab1")
            </div>
        </div>
        <div id="BPRSample" ng-controller="BPRSampleCtlr" class="container tab-pane fade" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            <div id="BPRSampleCtlr" style="display: none;">
                @await Html.PartialAsync("BMRBPRSample_Tab2")
            </div>
        </div>
    </div>

</div>


