@{
    ViewData["Title"] = "Access Denied";
}
<h3>You dont have permission to access this resource</h3> 
<h4>Please contact system Administration</h4>

<a class="btn btn-light"  asp-action="Index" asp-controller="Home" title="Home">Go Back Home Page</a>
