<MyViewName>
    <MyViewName><a href="" ng-click="DivHideShow(null,null,'CompositionDetailCouplingDetailPackagingDetailMasterCtlr','CompositionMasterCtlr', this.$parent.$parent);">Composition</a></MyViewName>
    <MyViewName><a href="" ng-click="DivHideShow(null,null,'CompositionDetailCouplingDetailPackagingDetailMasterCtlr','CompositionDetailCouplingMasterCtlr', this.$parent);">Coupling Master</a></MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'CompositionDetailCouplingDetailPackagingDetailMasterCtlr','CompositionDetailCouplingDetailPackagingMasterCtlr', this);">Coupling Detail Packaging Master</a>
    <MyViewName child="true"> Coupling Detail Packaging Formula</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th style="font-weight:bold">
                        Packaging Name
                    </th>
                    <th>
                        Semi Finished
                    </th>
                    <th>
                        Primary Finished
                    </th>
                    <th>
                        Secondary Finished
                    </th>
                    <th>
                        BatchSize
                    </th>
                </tr>
                <tr>
                    <td style="font-weight:bold">
                        {{MasterObject.PackagingName}}
                    </td>
                    <td style="font-size:small;">
                        {{MasterObject.MasterObject.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Inv_ProductRegistrationDetail_ID_PrimaryName}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Inv_ProductRegistrationDetail_ID_SecondaryName}}
                    </td>
                    <td style="font-size:small;">
                        {{MasterObject.MasterObject.BatchSize}} {{MasterObject.MasterObject.MeasurementUnit}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#BPRFormulaType">
                <span class="fa fa-flask" style="font-size:large; color:steelblue;"></span>
                BPR Formula Type
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#BPRProcess">
                <span class="fa fa-gears" style="font-size:large; color:steelblue;"></span>
                BPR Process(s)
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="BPRFormulaType" class="container tab-pane active" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            @await Html.PartialAsync("CompositionDetailCouplingDetailPackagingDetailMaster_Tab1")
        </div>

        <div id="BPRProcess" class="container tab-pane fade" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            <div ng-controller="BPRProcessCtlr">
                <div id="BPRProcessCtlr" style="display: none;">
                    @await Html.PartialAsync("CompositionDetailCouplingDetailPackagingDetailMaster_Tab2")
                </div>
            </div>
        </div>

    </div>

    @await Html.PartialAsync("_ReportPanelGeneral")
</div>
