<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'CompositionDetailRawMasterCtlr','CompositionMasterCtlr', this);">Composition</a>
    <MyViewName child="true"> BMR Detail</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Doc No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        Composition
                    </th>
                    <th>
                        Dimension
                    </th>
                    <th>
                        Shelf Life
                    </th>
                </tr>
                <tr>
                    <td>
                        {{MasterObject.DocNo}}
                    </td>
                    <td>
                        {{MasterObject.DocDate}}
                    </td>
                    <td>
                        {{MasterObject.CompositionName}}
                    </td>
                    <td>
                        {{MasterObject.DimensionValue}} {{MasterObject.FK_tbl_Inv_MeasurementUnit_ID_DimensionName}}
                    </td>
                    <td>
                        {{MasterObject.ShelfLifeInMonths}} Month(s)
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#BMRFormulaType">
                <span class="fa fa-flask" style="font-size:large; color:steelblue;"></span>
                BMR Formula Type
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#BMRProcess">
                <span class="fa fa-gears" style="font-size:large; color:steelblue;"></span>
                BMR Process(s)
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="BMRFormulaType" class="container tab-pane active" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            @await Html.PartialAsync("CompositionDetailRawMaster_Tab1")
        </div>

        <div id="BMRProcess" class="container tab-pane fade" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            <div ng-controller="BMRProcessCtlr">
                <div id="BMRProcessCtlr" style="display: none;">
                    @await Html.PartialAsync("CompositionDetailRawMaster_Tab2")
                </div>
            </div>
        </div>

    </div>

    @await Html.PartialAsync("_ReportPanelGeneral")

</div>
