<div class="row">
    <div class="col-md-4 mt-3">
        <section>
            <form name="loginform" role="form" ng-submit="Login(); loginform.$setPristine();" novalidate="">
     

                <MyAntiforgeryToken></MyAntiforgeryToken>
                <input type="hidden" id="LoginModel.returnUrl" name="LoginModel.returnUrl" ng-model="LoginModel.returnUrl" ng-init="LoginModel.returnUrl='@ViewBag.returnUrl'; LoginModel.RememberMe=false; clearAuthorizedAreaStorage();" />
                <MyFieldSet legendtext="Sign-In">
                    <div class="form-group mt-2">
                        <span class="input-group-text" style="background-color:lightsteelblue;">User Name</span>
                        <input id="LoginModel.UserName" name="LoginModel.UserName" type="text" class="form-control" placeholder="...type user name" value="LoginModel.UserName" ng-model="LoginModel.UserName" ng-disabled="ng_readOnly" minlength="5" maxlength="50"  required />
                        <MyValidationSpan formname="loginform" fieldname="LoginModel.UserName" required="true" minlength="6" maxlength="50"></MyValidationSpan>
                    </div>
                    <div class="form-group mt-2">
                        <span class="input-group-text" style="background-color: lightsteelblue;">Password</span>
                        <input id="LoginModel.Password" name="LoginModel.Password" type="password" class="form-control" placeholder="... type Password" value="LoginModel.Password" ng-model="LoginModel.Password" ng-disabled="ng_readOnly" minlength="6" maxlength="50" ng-required />
                        <MyValidationSpan formname="loginform" fieldname="LoginModel.Password" required="true" minlength="6" maxlength="50"></MyValidationSpan>
                    </div>
                    <div class="form-group mt-2 col-lg-6">
                        <span class="input-group-text" style="background-color: lightsteelblue;">Remember Me</span>
                        <select id="LoginModel.RememberMe" name="LoginModel.RememberMe" class="form-control form-select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="LoginModel.RememberMe" ng-disabled="ng_readOnly" required>
                        </select>
                        <MyValidationSpan formname="loginform" fieldname="LoginModel.RememberMe" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="Sign-In" class="btn btn-primary" ng-disabled="loginform.$invalid" />
                        </div>
                    </div>
                </MyFieldSet>
            </form>
        </section>
    </div>
    <div class="col-md-8 mt-3 text-center">
        <section>
            
            <div class="text-center" style="color:steelblue;">

                <h1>Welcome to</h1>
                <img src="~/images/OreasPng.png" />
                <h1 class="display-4">
                    Management System
                </h1>
                <p>A complete ERP Solution for your business</p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}